.cards{
    position: relative;
    height: 500px;
    width: 550px;
    border: 3px;
    font-size: 25px;
    color: white;
    text-align: center;
    background-size: 150px;
    background-color: rgb(13, 88, 37);
}
.cards img{
    position: absolute;
    height: 200px;
    width: 150px;
    top: 252px;
    left: 162px;
    transform: rotate(347deg);
    z-index: 1;

}
#card-2{
    position: absolute;
    height: 200px;
    width: 150px;
    top: 260px;
    left: 205px;
    transform: rotate(1deg);
    z-index: 2;
}
#card-3{
    position: absolute;
    height: 200px;
    width: 150px;
    top: 275px;
    left: 245px;
    transform: rotate(15deg);
    z-index: 3;
}


.cards p{
    font-style: italic;
    text-align: center;
    margin-top: -25px;
}
.blockquote{
    display: block;
    font-weight: bold;
}
blockquote::before {
    content: open-quote; 
}
blockquote::after {
    content: close-quote; 
}



.square{
    width: 100px;
    height: 100px;
    border: 1px ;
    position: relative;
}
.square::before{
    content: '';
    position: absolute;
}
.square.green{
    background: rgb(45, 235, 45);
    left: 85px;
    bottom: 80px;
    z-index: -1;
}
.square.red{
    background: rgb(230, 122, 158);
}
.square.purple{
    background: rgb(147, 87, 226);
    left: 37px;
    bottom: 45px;
}

.menu{
    position: relative;
    width: 300px;
    height: 200px;
    text-transform: uppercase;
    display: inline-block;
    border: 1px ;
    box-sizing: border-box;
    transition-duration: 2s;
    margin-bottom: 200px;

}
.menu-text{
    color: white;
    text-align: center;
    font-weight: bold;
    height: 350px;
    width: 10%;
    writing-mode: vertical-rl;
    background: gray;
    transition-duration: 1s; 
}
.menu-text:hover{
    width: 200px;
    transition-duration: 1s; 
    display: block;
    
}
.hidden-menu{
    color:white;
    position: absolute;
    left: 20px;
    top: 10px;

}
.hidden-menu li{
    color: white;
    text-decoration: none;
    display: block;

}


.animation-square{
    width: 100px;
    height: 100px;
    border: 20px;
    background: red;
    animation: square-animation 3s;
    animation-iteration-count: infinite;
    margin: 100px;
}
@keyframes square-animation {
    0%{
        background: red;
        transform: translate(0,0);
        
        

    }
    25%{
        background: blue;
        transform: translate(0,100px);
        


    }
    50%{
        background: green;
        transform: translate(100px,100px);
        
        

    }
    75%{
        transform: translate(100px,0);
    }
    100%{
        background: yellow;
        transform: translate(0,0)
    }
    
}