.holder {
	border: 2px solid black;
	display: flex;
	width: 295px;
	height: 100px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	flex-wrap: wrap;
	left: 0;
	top: 0;
}

.item {
	border: 1px;
	display: flex;
}

.item-1 {
	display: flex;
	background-color: rgba(221, 74, 54, 0.911);
	width: 146px;
	justify-content: center;
	order: 1;
	border-top-left-radius: 10px;
}

.item-2 {
	display: flex;
	justify-content: center;
	background-color: rgba(54, 140, 221, 0.911);
	width: 98px;
	order: 4;
}

.item-3 {
	display: flex;
	justify-content: center;
	background-color: rgba(122, 18, 143, 0.911);
	width: 95px;
	order: 3;
}

.item-4 {
	display: flex;
	justify-content: center;
	background-color: rgba(17, 126, 23, 0.911);
	width: 102px;
	order: 5;
}

.item-5 {
	display: flex;
	justify-content: center;
	background-color: rgba(252, 157, 69, 0.986);
	width: 149px;
	order: 2;
	border-top-right-radius: 10px;
}
