*{
    font-size: 20px;
}
.bold{
    font-weight: bolder;
}
.italic{
    font-style: italic;
}
.underline{
    text-decoration: underline;
}
.parent p{
    color: #ff0000;

}
/*Первый соседний элемент*/
.parent > p.first{
    color: blue;
}
/*Дочерний элемент*/
.parent > p.first{
    color:yellow;
}

ul li:nth-child(2n){
    background-color: yellow;
}
